@charset "utf-8";
/* CSS Document */

body,html{height:100%;}
.particles-bg{position:fixed;width:100%;height:100%;overflow:hidden;z-index:-1}
.page{height:100%;min-height:790px;position:relative}
.page .footer{position:absolute;bottom:0;}

.main{width:990px;height:440px;margin:0 auto;position:relative;padding:0 120px;}
.main .title{text-align:center;margin:80px 0 50px;}
.banner{position:absolute;top:0;left:-465px;width:1920px;height:440px;background:url(../images/banner.png) 0 0 no-repeat;overflow:hidden}

.form-warp{width:780px;margin:0 auto;position:relative}
.toggle-type{position:absolute;bottom:6px;right:2px;width:50px;text-align:center}
.toggle-type a{font-size:16px;color:#ffffff;}
.form-box{width:720px}
.form-box .list-range{height:40px;margin-bottom:30px;width:100%;text-align:center;text-decoration:none}
.form-box .list-range > .range{display:inline-block;position:relative;color:#174c97;border-radius:3px;text-decoration:none}
.form-box .list-range > .range.active{background-color:#5e95e8;color:#ffffff}
.form-box .list-range > .range.active:after{content:'';display:block;width:0;height:0;border:5px solid #93c1f6;border-color:#5e95e8 transparent transparent transparent;position:absolute;bottom:-10px;left:50%;margin-left:-3px}
.form-box .list-range > .range>label{display:block;height:40px;line-height:40px;padding:0 20px;font-size:18px;font-weight:normal;margin-bottom:0;cursor:pointer}
.form-box .list-range > .range>label>input{position: absolute; opacity: 0; filter:Alpha(opacity=0);}
.form-box .search-input-group{width:100%;position:relative}
.form-box .search-input-group:after{content:'';position:absolute;top:-15px;left:-15px;bottom:-15px;right:-70px;background:rgba(0,0,0,0.2);}
.form-box .search-input-group .input-text{height:56px !important;border-radius:0 !important ;border:none;padding:12px 16px;}
.form-box .search-btn-warp{padding-left:10px;}
.form-box .search-btn{height:56px !important;padding:12px 26px 12px 52px !important;;background:url(../images/icon_search.png) 20px 14px no-repeat;background-color:#e69f00;border:none;border-radius:0 !important;color:#fff;}
.form-box .search-btn:active{background-color:#b87f00;color:#ffffff}
.form-box .search-btn:focus{background-color:none;color:#fff;outline:none}


.ad-warp{height:110px;background:#f2f3f7;margin-bottom:20px}
.ad-info{padding-top:20px;margin-bottom:0}
.ad-info dt , .ad-info dd{float:left}
.ad-info dt img{width:72px;height:72px;margin-right:10px}
.ad-info dd{margin-left:80px;margin-top:-72px}


.table-personlist.table td{border-color:transparent;}